h2 {
	text-align: left;
	font-weight: normal;
}

disclaimer {
	text-align: left;
	font-style: italic;
	font-size: 12;
}

under_title {
	text-align: left;
	font-weight: bold;
	font-size: 12;
}

code_part {
display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-size: 12;
}